body {
  font-family: sans-serif;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 10px;

  color: white;
  border: 1px solid black;
  background: #01454c;
  padding: 10px;
}

.control {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  row-gap: 5px;
}

.control label {
  color: #ffdb5b;
  font-weight: bold;
}
